
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span class="nombrePagina"> Stock Musical</span>
   
       <span class="example-spacer"></span>

       <button class="btncarro" mat-icon-button [routerLink]='["/cart"]'>
        <mat-icon>shopping_cart</mat-icon>
        <div></div>
      </button>
    <div class="user-section" *ngIf="usuario">
      <mat-icon>account_circle</mat-icon>
      <span>{{usuario}}</span>
      </div>
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="cerrarSesion()" >Cerrar Sesion</button>
    </mat-toolbar>