<div class="row">

  <div class="column cuerda">
    <div class="column-inner cuerda">
      <img src="./assets/Imagenes/Contrabajo.png" alt="Contrabajo" >
      <h4>Contrabajo</h4>
    </div>
  </div>
  <div class="column cuerda">
    <div class="column-inner cuerda">
      <img src="./assets/Imagenes/GuitarraElectrica.jpg" alt="GuitarraElectrica" >
      <h4>Guitarra Electrica</h4>
    </div>
  </div>

  <div class="column cuerda">
    <div class="column-inner cuerda">
      <img src="./assets/Imagenes/GuitarraAcustica.png" alt="GuitarraAcustica" >
      <h4>Guitarra Acustica</h4>
    </div>
  </div>
  <div class="column percusion">
    <div class="column-inner percusion">
      <img src="./assets/Imagenes/Claves.jpg" alt="Claves" >
      <h4>Claves</h4>
    </div>
  </div>
  <div class="column percusion">
    <div class="column-inner percusion">
      <img src="./assets/Imagenes/Campana.png" alt="Campana" >
      <h4>Campana</h4>
    </div>
  </div>

  <div class="column percusion">
    <div class="column-inner percusion">
      <img src="./assets/Imagenes/Cajon.jpg" alt="Cajon" >
      <h4>Cajon</h4>
    </div>
  </div>
  <div class="column viento">
    <div class="column-inner viento">
      <img src="./assets/Imagenes/Saxofon.png" alt="Saxofon" >
      <h4>Saxofon</h4>
    </div>
  </div>
  <div class="column viento">
    <div class="column-inner viento">
      <img src="./assets/Imagenes/Trompeta.png" alt="Trompeta" >
      <h4>Trompeta</h4>
    </div>
  </div>
</div>
