<div style="text-align:center;">
      <mat-card-title>Perfil</mat-card-title>
</div>
<main>
  <div class="container grid grid-place-center h-100">
     <div class="form">
        <h1 class="title text-center">Información de Contacto</h1>
        <div class="body">
           <form #formularioRegistro="ngForm" (ngSubmit)="registrarPersona(formularioRegistro)">
              <label class="label" for="usuacedulario">
                 Cédula
                 <input class="input" type="tel" name="cedula" id="cedula" [(ngModel)]="cedula" placeholder="Ingrese su C.I.">
              </label>
            <br>
              <label class="label" for="nombre">
                 Nombre
                 <input class="input" type="text" name="nombre" id="nombre" [(ngModel)]="nombre" placeholder="Ingrese su Nombre">
              </label>
            <br>
              <label class="label" for="apellido">
                 Apellido
                 <input class="input" type="text" name="apellido" id="apellido" [(ngModel)]="apellido" placeholder="Ingrese su Apellido">
              </label>
              <br>
              <label class="label" for="Location">
                 Location
                 <input class="input" type="text" name="location" [(ngModel)]="location" id="location" placeholder="Ingrese su Location">
              </label>
              <br>
              <div class="flex flex-justify-between flex-align-center">
                 <input class="input input--submit input--submit--cancel" (click)="pantallaInicio()" type="button"
                    value="Cancelar">
                 <input class="input input--submit" type="submit" value="Aceptar">
              </div>
           </form>
        </div>
     </div>
  </div>
</main>


