<app-banner></app-banner>

<div id="myBtnContainer">
  <button class="btn" onclick="filterSelection('all')"> Todo </button>
  <button class="btn" onclick="filterSelection('cuerda')"> Cuerda </button>
  <button class="btn" onclick="filterSelection('percusion')"> Percusion </button>
  <button class="btn" onclick="filterSelection('viento')"> Viento </button>
</div>

<div class="wrapper-contenido">
  <div class="contenido">
    
    <app-product-card 
    *ngFor="let product of products"
     [product]="product"
     ></app-product-card>
  
  </div>
</div>


